body {
    background-image: url(../images/gnr.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    color: white;
}

.start-button {
    cursor: pointer;
    border: none;
    border-radius: 12px;
    font-size: 24px;
    background-color: red;
    padding: 12px;
}

.timer {
    color: white;
}

p {
    color: white;
}

.correct {
    color: white;
}
.incorrect {
    color: white;
}