body {
    background-image: url(../images/gnr.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
}

h1 {
    color: white;
}

.timer {
    color: white;
}

p {
    color: white;
}

.correct {
    color: white;
}
.incorrect {
    color: white;
}